name: Wheels

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  build_thin_wheel:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: build thin wheel
        # This will build a single python-only wheel. In order to build a wheel
        # including the C-extension, rework this job to use cibuildwheel on all
        # the desired runners (the `runs-on` line above)
        # https://cibuildwheel.readthedocs.io/en/stable/
        run: |
          ./gradlew :python:thin_wheel
    
      - uses: actions/upload-artifact@v4
        # See https://github.com/actions/upload-artifact#readme
        with:
          name: wheel
          path: ./python/pjrmi*.whl
